<section class="home" id="home">
    <div class="home__container bd-grid">
        <div class="home__data">
            <div class="home__img">
                <img src="./assets/img/teremediana.jpg" alt="Fournier Teresa" title="Fournier Teresa">
            </div>

            <h1 class="home__title">{{miPortfolio.personaDTO.apellido_y_nombre}}</h1>
            <span class="home__profession"><b>{{miPortfolio.personaDTO.titulo}}</b></span>

            <div class="home__social">
                <a href="https://www.linkedin.com/in/teresa-fournier/" class="home__social-link"><i
                        class='bx bxl-linkedin'></i></a>
                <a href="https://github.com/teresuchi" class="home__social-link"><i
                        class='bx bxl-github'></i></a>
            </div>

            <a download="cv_tfournier" href="#" class="button home__button">Descargar currículum vitae</a>
        </div>
    </div>
</section>

