<section class="project section">
    <div class="project__container bd-grid">
        <div class="project__data">
            <h2 class="section-title project__title">¿Tiene un proyecto en mente?</h2>
            <p class="project__description">
                Ya tienes tu proyecto en mente y piensas que es algo maravilloso.
            </p>
            <a href="#contact" class="button button__light">Contacto</a>
        </div>

        <img src="assets/img/Terechica.jpg" title="Fournier Teresa" alt="Fournier Teresa"
            class="project__img">
    </div>
</section>
