<section class="works section" id="works">
    <span class="section-subtitle">Mi cartera de proyectos</span>
    <h2 class="section-title">Trabajos recientes</h2>

    <div class="works__container bd-grid">
        <div class="works__img">
            <img src="assets/img/work-1.jpg" alt="Diseño de Aplicaciones" title="Diseño de Aplicaciones">

            <div class="works__data">
                <a href="#" class="works__link"><i class="bx bx-link-alt"></i></a>
                <span class="works__title">{{miPortfolio.trabajo_1.titulo}}</span>
            </div> 
        </div>

        <div class="works__img">
            <img src="assets/img/work-4.jpg" alt="Sitio Web de la Agencia" title="Sitio Web de la Agencia">

            <div class="works__data">
                <a href="#" class="works__link"><i class="bx bx-link-alt"></i></a>
                <span class="works__title">{{miPortfolio.trabajo_2.titulo}}</span>
            </div>
        </div>

        <div class="works__img">
            <img src="assets/img/work-6.jpg" alt="Sitio Web de pago" title="Sitio Web de pago">

            <div class="works__data">
                <a href="#" class="works__link"><i class="bx bx-link-alt"></i></a>
                <span class="works__title">{{miPortfolio.trabajo_3.titulo}}</span>
            </div>
        </div>
    </div>
</section>

