<section class="works section" id="works">
    <span class="section-subtitle">Mi cartera de proyectos</span>
    <h2 class="section-title">Trabajos recientes</h2>

    <div class="works__container bd-grid">
        <div class="works__img">
            <img src="assets/img/work-1.jpg">
        
            <div class="works__data">
                <a href="#" class="works__link"><i class="bx bx-link-alt"></i></a>
                <span class="works__title">{{miPortfolio.trabajo_1.titulo}}</span>
            </div> 
        </div>

        <div class="works__img">
            <img src="assets/img/work-4.jpg">

            <div class="works__data">
                <a href="#" class="works__link"><i class="bx bx-link-alt"></i></a>
                <span class="works__title">{{miPortfolio.trabajo_2.titulo}}</span>
            </div>
        </div>

        <div class="works__img">
            <img src="assets/img/work-6.jpg">

            <div class="works__data">
                <a href="#" class="works__link"><i class="bx bx-link-alt"></i></a>
                <span class="works__title">{{miPortfolio.trabajo_3.titulo}}</span>
            </div>
        </div>
    </div>

    <!-- Botones Editar-->
    <div align="center" *ngIf=usuarioLogueado()> 
        <button (click)="openEditarTrabajo(miPortfolio.trabajo_1.id, 
                                            miPortfolio.trabajo_1.titulo)">Editar trabajo 1</button>

        <button (click)="openEditarTrabajo(miPortfolio.trabajo_2.id, 
                                        miPortfolio.trabajo_2.titulo)">Editar trabajo 2</button>
    

        <button (click)="openEditarTrabajo(miPortfolio.trabajo_3.id, 
                                        miPortfolio.trabajo_3.titulo)">Editar trabajo 3</button>
    </div>



     <!-- Ventana Modal para la edición de un Trabajo -->
     <dialog id="trabajoDialog">
        <form method="dialog" id="trabajoForm" #servicioForm = "ngForm" (ngSubmit) = "onClickSubmit()" >
            <input type = "hidden" name = "idTrabajo" ngModel>
             Título:
            <input type = "text" name = "titulo" ngModel>
            <br/>
            <input type = "submit" value = "Enviar">
            <br/>
            <font size="1">(*) Presione "ESC" para cancelar.</font>
        </form>
   </dialog>
 
</section>



