<section class="services section" id="services">
    <span class="section-subtitle">Lo que ofrezco</span>
    <h2 class="section-title">Mis Servicios</h2>

            <div class="services__container bd-grid">
                <div class="services__content">
                    <i class="bx bx-code service__icon"></i>
                    <h3 class="services__title">{{miPortfolio.servicio_1.titulo}}</h3>
                    <p class="services__description">{{miPortfolio.servicio_1.descripcion}}</p>
                </div>

                <div class="services__content">
                    <i class="bx bx-mobile service__icon"></i>
                    <h3 class="services__title">{{miPortfolio.servicio_2.titulo}}</h3>
                    <p class="services__description">{{miPortfolio.servicio_2.descripcion}}</p>
                </div>

                <div class="services__content"> 
                    <i class="bx bx-server service__icon"></i>
                    <h3 class="services__title">{{miPortfolio.servicio_3.titulo}}</h3>
                    <p class="services__description">{{miPortfolio.servicio_3.descripcion}}</p>
                </div>

               
            </div>
        </section>

