<footer class="footer section">
    <div class="footer__container bd-grid">
        <h1 class="footer__title">{{miPortfolio.apellido_y_nombre}}</h1>
        <p class="footer-description">
            {{miPortfolio.titulo}}
        </p>

        <div class="footer__social">
            <a href="https://www.linkedin.com/in/gmmaunas/" class="footer__link"><i class="bx bxl-linkedin"></i></a>
        </div>

        <p class="footer-copy">Todos los derechos reservados por Fournier Teresa - 2022</p>
    </div>
</footer>
