<header class="l-header">
    <nav class="nav bd-grid">
        <div class="nav__toggle" id="nav-toggle">
            <i class='bx bx-menu'></i>
        </div>

        <div>
            <a href="#" class="nav__logo">Fournier Teresa</a>            
        </div>

        <div class="nav__menu" id="nav-menu">
            <div class="nav__close" id="nav-close">
                <i class='bx bx-x'></i>
            </div>

            <ul class="nav__list">
                <!-- El primer elemento de la lista de links es el logo de Argentina Programa -->
                <li class="nav__item">
                    <div  class="logo__img" >
                    <a href="https://argentinaprograma.inti.gob.ar/" class="nav__link"> 
                        <img src="assets/img/LogoArgentinaPrograma.PNG" alt="Argentina Programa" title="Argentina Programa">
                        <a href="#" class="nav__link" *ngIf=!usuarioLogueado() (click)="openMyDialog()"> Log in </a>
                        <a href="#" class="nav__link" *ngIf=usuarioLogueado() (click)="desloguear()"> Log out </a>                     
                    </a>
                    </div>
                </li>
                <li class="nav__item"> <a href="#home" class="nav__link"> Inicio </a></li>
                <li class="nav__item"> <a href="#about" class="nav__link"> Sobre mí </a></li>
                <li class="nav__item"> <a href="#skills" class="nav__link"> Habilidades </a></li>
                <li class="nav__item"> <a href="#educación" class="nav__link"> Educación </a></li>
                <li class="nav__item"> <a href="#services" class="nav__link"> Servicios </a></li>
                <li class="nav__item"> <a href="#works" class="nav__link"> Proyectos </a></li>
                <li class="nav__item"> <a href="#contact" class="nav__link"> Contacto </a></li>
            </ul>
        </div>
    </nav>

    <!-- Ventana Modal para el log in -->
    <dialog id="cabeceraDialog">
        <form method="dialog" id="cabeceraForm" #cabeceraForm = "ngForm" (ngSubmit) = "onClickSubmit()">
            Usuario:
            <input type = "text" name = "usuario" ngModel>
            <br/>
            Password:
            <input type = "text" name = "password" ngModel>
            <br/>
            <br/>
            <input type = "submit" value = "Enviar">
            <br/>
            <font size="1">(*) Presione "ESC" para cancelar.</font>
        </form>
   </dialog>

  

</header>